%h1 Musings

- @posts.each do |post|
  = image_tag post.image.url(:small)
  %h2= post.title
  %p
    Shared by:
    = post.user.name
  %p= post.comments.count
  = link_to "Continue", post_path(post)
  = link_to "Edit", edit_post_path(post)
  = link_to "Delete", post_path(post), method: :delete, data: {confirm: 'Are you sure?'}