= image_tag @post.image.url(:medium)
%h1= @post.title
%p
  Shared by:
  = @post.user.name
%p= @post.description

#comment
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    %p= comment.user.name
    %p= comment.content

=render "comments/form"



= link_to "Home", root_path